body {
  background-color: #F5F5DC; /* Light beige background */
  color: #000000; /* Black text color */
  margin: 0;
  font-family: Arial, sans-serif; /* Clean font */
}

.app-container {
  overflow: auto; /* Enable scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.landing-page {
  position: relative; /* Position relative for absolute children */
  height: 100vh; /* Full height for the landing page */
  display: flex;
  flex-direction: column; /* Stack texts vertically */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: #6B8E23; /* Olive green background */
}

.background {
  position: absolute; /* Position the background absolutely */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/img/UpScale.png'); /* Your image URL */
  background-size: cover;
  background-position: center;
  filter: blur(3px); /* Apply blur effect */
  animation: moveBackground 10s infinite alternate; /* Animation */
}

.content-container {
  height: 50vh; /* Full height for the content section */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  text-align: center; /* Center text */
  padding: 20px;
}



@keyframes fadeInUp {
  to {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide up to original position */
  }
}

.sliding-text {
  opacity: 0;
  animation: slideIn 1s forwards;
  margin: 10px; /* Space between texts */
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
